.logo-text::first-letter {
  float: left;
  font-size: 110px;
  padding-top: 10px;
}
.logo-text {
  font-size: 60px;
  line-height: 45px;
}

.profile-image {
  background: url("https://my-bucket.eu-central-1.linodeobjects.com/konradvofely_hu/lakodalom16-removebg-preview.png");
  background-color: powderblue;
  width: 408px;
  height: 408px;
  -webkit-border-radius: 60px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  margin: 7px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: top center;
}
