.logo-text::first-letter {
  float: left;
  font-size: 180px;
  padding-top: 4px;
}
.logo-text {
  font-size: 80px;
  line-height: 70px;
  width: 240px;
}
.logo-text-first-line {
  letter-spacing: 2.1px;
}

.profile-image {
  background: url("https://my-bucket.eu-central-1.linodeobjects.com/konradvofely_hu/lakodalom16-removebg-preview.png");
  background-color: powderblue;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.logo {
  width: 100px;
}

/* sm */
@media only screen and (min-width: 640px) {
  .profile-image {
    width: 220px;
    height: 220px;
    margin-top: -110px;
    margin-left: -110px;
  }
  
  .logo {
    width: 80px;
  }

  .logo-text::first-letter {
    font-size: 144px;
    padding-top: 3px;
  }
  .logo-text {
    font-size: 64px;
    line-height: 56px;
    width: 200px;
  }

  .logo-text-first-line {
    letter-spacing: 1.8px;
  }
}

/* md */
@media only screen and (min-width: 768px) {
  .profile-image {
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px;
  }

  .logo {
    width: 110px;
  }

  .logo-text::first-letter {
    font-size: 181px;
    padding-top: 3px;
  }

  .logo-text {
    font-size: 80px;
    line-height: 70px;
    width: 240px;
  }

  .logo-text-first-line {
    letter-spacing: 2.4px;
  }
}

/* lg */
@media only screen and (min-width: 1024px) {
  .profile-image {
    width: 408px;
    height: 408px;
    margin-top: -204px;
    margin-left: -204px;
  }
  
  .logo {
    width: 120px;
  }
  
  .logo-text::first-letter {
    font-size: 200px;
    padding-top: 4px;
  }

  .logo-text {
    font-size: 90px;
    line-height: 78px;
    width: 300px;
  }

  .logo-text-first-line {
    letter-spacing: 2.6px;
  }
}
